# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
out/
catalog-v*.xml

.cache

# The diagrams are generated at build time


**/.jqwik-database

**/src/generated/java

*/lombok.config