.idea
out/
catalog-v*.xml

# The diagrams are generated at build time
docs/src/docs/asciidoc/images/generated/*.svg

docs/src/docs/asciidoc/index.html

**/.jqwik-database
**/src/generated/java
*/lombok.config
**/.flattened-pom.xml
*/target
**/src-gen
