# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
out/
catalog-v*.xml

.cache

# The diagrams are generated at build time
docs/src/docs/asciidoc/images/generated/*.svg

**/.jqwik-database

**/src/generated/java

*/lombok.config

**/.flattened-pom.xml

*/target

**/src-gen